ase
matplotlib
furo
# Since the metatensor version hash in rascaline might be two old for equisolve,
# we load a specific branch that has the same metatensor hash as we are using
# here.
#
# When we update the metatensor hash here we ALSO have to update the hash
# in the rascaline branch!
rascaline @ https://github.com/luthaf/rascaline/archive/23448bd.zip
sphinx >=4.4
sphinx-gallery
